<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls first blog teiny</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls first blog teiny</a></h1>
        </header>

        <article>
            <time>published: 06.12.2024, 17:00</time>
            <h2><a href="">Первый пост</a></h2>
            <p>В курсе привер со статьей про какую-то ФК, а зачем мне это надо? Не понятно... Крч вот учу по тихоньку джангу.</p>
        </article>

        <article>
            <time>published: 06.12.2024, 17:00</time>
            <h2><a href="">Второй пост</a></h2>
            <p>В курсе опять какой-то нелепый отрывок текста. А вот у меня это просто второй пост для примера.</p>
        </article>
    </body>
</html>