.page-header {
    background-color: rgba(50, 46, 46, 0.8);
    margin-top: 0;
    margin-bottom: 50px;
    padding: 20px 20px 20px 30px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    font-size: 40pt;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

h1 a,
h2 a,
h3 a,
h4 a {
< font-family >: 'libre-baskerville-bold';
}

.date {
    color: #00bd31;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-left: 45px
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
    margin-right: 15px
}

.btn-secondary,
.btn-secondary:visited {
    color: #000000;
    background-color: rgba(175, 170, 170, 0.8);
    border-color: #000000;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #4c4c5e;
}

body {
    background-image: url(../back_image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.framing {
    background: linear-gradient(to right, rgba(236, 244, 255, 0.8), rgba(99, 119, 135, 0.8), rgba(175, 170, 170, 0.8));
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.framing * {
    color: black;
    font-size: 15px;
}

.post-comment {
    margin-left: 45px;
    margin-right: 45px;
}


.post_outline {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 15px;
    transition: all 0.3s ease;
    color: rgba(175, 170, 170, 0.8);
    cursor: pointer;
    width: 60%;
    margin-bottom: 30px;
}
.post_outline * {
  color: black;
  font-size: 20px;
}

.post_outline:hover {
    background-color: rgba(175, 170, 170, 0.8);
    color: white;
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.post-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.post-link {
    text-decoration: none;
    display: block;
}